* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--website-font-primary);
  text-decoration: none;
}

ul {
  color: var(--website-font-primary);
  list-style: none;
}

body {
  background-color: var(--website-layer-background);
}
